:root {
    --white: #f4f4f4;
} 

* {
    font-family: sans-serif;
    /*Remove scrollbars*/
    overflow-x: hidden;
    scrollbar-width: none;

    margin: 0;
    padding: 0;

    font-size: 2rem;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

*::-webkit-scrollbar {
    display: none;
}

.content {
    max-width: 960px;
    margin: auto;
}

h1 {
    font-size: 3rem;
    margin: 1rem;
    text-align: center;
}

h2 {
    font-size: 2rem;
    margin: 1rem;
    font-weight: 200;
    text-align: center;
}

p {
    font-size: 1.5rem;
    margin: 1rem;
}
